name: ci

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  # Non-PR builds have singleton concurrency groups.
  group: "workflow = ${{ github.workflow }}, ${{ github.event.name == 'pull_request' && pr = github.event.pull_request.id || ref = github.event.ref }}"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 11
          - 17
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java-version }}
          distribution: zulu
          cache: maven
      - name: Install
        run: mvn install -B -DskipTests
      - name: Run Tests
        run: mvn -B test
